
.bg-green{
    background-color:#00E165;
}

.margin-nest-elements{
    margin: 2px;
}

.fj-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

